:root {
  --navbar-bg: #00268a;
  --theme-green: #0b9f85;
  --text-black: #404040;
  --text-light: #fbfffa;
  --text-white: #ffffff;
  --footer-copyright-bg: #000a1e;
  --footer-bg: #00113d;
  --black: black;
  --btn-bg: #0b1709;
  --copyright-bg: #000a1e;
}

@-webkit-keyframes hamburger-open {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes hamburger-open {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

body {
  font-size: 100%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body.noscroll {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-light);
}

.container {
  max-width: 68.75rem;
  margin: auto;
}

.slider-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
}

.slider-header h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-black);
}

.slider-header .header-buttons {
  width: 100px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-header .btn {
  width: 2rem;
  height: 2rem;
  border-radius: 0.375rem;
  background-color: var(--btn-bg);
  margin: 0 0.5rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider-header .btn i {
  color: var(--text-white);
}

.slider-header .btn:hover {
  opacity: 0.9;
}

section,
.footer-section,
.navbar,
.copy-right {
  max-width: 112.5rem;
  margin: auto;
}

nav {
  background-color: var(--navbar-bg);
}

nav .navbar {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 52em) {
  nav .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 3.75rem;
    position: relative;
  }
}

nav .navbar__hamburger {
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
}

@media (max-width: 52em) {
  nav .navbar__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 40em) {
  nav .navbar__hamburger {
    margin-left: 1rem;
  }
}

nav .navbar__hamburger .hamburger-container {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 0.375rem;
  border: 0.125rem solid var(--text-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.125rem;
  cursor: pointer;
  margin: 0rem 0.3125rem;
}

nav .navbar__hamburger .hamburger-container .ham {
  display: inline-block;
  width: 1.5625rem;
  height: 0.1875rem;
  background-color: var(--text-white);
  margin: 0.125rem 0rem;
  border-radius: 0.125rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .navbar__hamburger .hamburger-open .ham:nth-child(1) {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translate(15%, -40%) rotate(45deg);
          transform: translate(15%, -40%) rotate(45deg);
}

nav .navbar__hamburger .hamburger-open .ham:nth-child(2) {
  opacity: 0;
}

nav .navbar__hamburger .hamburger-open .ham:nth-child(3) {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translate(13%, 90%) rotate(-45deg);
          transform: translate(13%, 90%) rotate(-45deg);
}

nav .navbar__logo a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.5rem;
}

nav .navbar__logo a img {
  width: 3.75rem;
  height: 3.75rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 52em) {
  nav .navbar__logo a img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

nav .navbar__logo a p {
  display: inline-block;
  font-size: 0.75rem;
  padding-left: 0.5rem;
  font-weight: 600;
  color: var(--text-light);
}

nav .navbar .desktop-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 52em) {
  nav .navbar .desktop-links {
    display: none;
  }
}

nav .navbar .desktop-links a {
  padding: 0.125rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 1rem;
  position: relative;
}

@media (max-width: 64em) {
  nav .navbar .desktop-links a {
    padding: 0.125rem 0.0625rem;
    margin: 0 0.5rem;
  }
}

nav .navbar .desktop-links a::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 0%;
  height: 0.1875rem;
  left: 0;
  background-color: var(--theme-green);
  border-radius: 0.125rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav .navbar .desktop-links a:hover::after {
  width: 100%;
}

nav .navbar .desktop-links .active-nav-link::after {
  width: 100%;
}

@media (max-width: 52em) {
  nav .navbar .ham-links {
    position: absolute;
    top: 3.75rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--navbar-bg);
    border-top: 0.125rem solid var(--text-white);
    padding: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: hamburger-open 300ms ease-in-out forwards;
            animation: hamburger-open 300ms ease-in-out forwards;
  }
  nav .navbar .ham-links a {
    padding: 1rem 2rem;
    border-bottom: 0.0625rem solid var(--text-white);
    text-align: center;
  }
  nav .navbar .ham-links .active-nav-link {
    border-bottom: 0.25rem solid var(--theme-green);
  }
}

@media (max-width: 52em) {
  nav .navbar__links {
    display: none;
  }
}

nav .navbar__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 52em) {
  nav .navbar__login {
    margin-right: 2rem;
  }
}

@media (max-width: 40em) {
  nav .navbar__login {
    margin-right: 1rem;
  }
}

nav .navbar__login .login-btn {
  padding: 0.5rem 1.5rem;
  background-color: var(--theme-green);
  border-radius: 0.25rem;
  color: var(--text-white);
  font-weight: 700;
  margin-right: 0.5rem;
}

@media (max-width: 64em) {
  nav .navbar__login .login-btn {
    padding: 0.5rem 1rem;
  }
}

nav .navbar__login .login-btn:hover {
  opacity: 0.9;
}

.learning-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 0rem 1.5rem;
}

.learning-tabs .learning-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0.5rem;
  margin: 0.25rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 64em) {
  .learning-tabs .learning-tab {
    padding: 0.5rem 0.25rem;
  }
}

.learning-tabs .learning-tab img {
  width: 1.5rem;
  height: 1.5rem;
}

.learning-tabs .learning-tab p {
  color: var(--text-black);
  font-weight: 400;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

@media (max-width: 64em) {
  .learning-tabs .learning-tab p {
    font-size: 1.125rem;
  }
}

@media (max-width: 52em) {
  .learning-tabs .learning-tab p {
    font-size: 1rem;
  }
}

@media (max-width: 40em) {
  .learning-tabs .learning-tab p {
    font-size: 0.875rem;
  }
}

.learning-tabs .learning-tab:hover {
  border-radius: 0.375rem;
  -webkit-box-shadow: -3px -1px 26px 9px rgba(0, 0, 0, 0.125);
          box-shadow: -3px -1px 26px 9px rgba(0, 0, 0, 0.125);
}

.learning-tabs .active p {
  font-weight: 600;
}

.header-image {
  min-height: 20rem;
  background-color: var(--theme-green);
  margin-top: 0.625rem;
}

@media (max-width: 64em) {
  .header-image {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.header-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.popular-exams-section {
  width: 100%;
  padding: 1rem;
}

.popular-exams-section .popular-exams {
  margin-top: 5rem;
}

@media (max-width: 52em) {
  .popular-exams-section .popular-exams {
    margin-top: 3.75rem;
  }
}

@media (max-width: 40em) {
  .popular-exams-section .popular-exams {
    margin-top: 2.5rem;
  }
}

.popular-exams-section .popular-exams h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

@media (max-width: 52em) {
  .popular-exams-section .popular-exams h2 {
    font-size: 1.25rem;
  }
}

.popular-exams-section .popular-exams .exam-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.875rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 52em) {
  .popular-exams-section .popular-exams .exam-buttons {
    margin: 1.5rem 0;
  }
}

@media (max-width: 40em) {
  .popular-exams-section .popular-exams .exam-buttons {
    margin: 1.25rem 0;
  }
}

.popular-exams-section .popular-exams .exam-buttons .exam-button {
  padding: 1rem 2.5rem;
  margin: 0.25rem 0.25rem;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--theme-green);
  color: var(--theme-green);
  font-size: 1.25rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 52em) {
  .popular-exams-section .popular-exams .exam-buttons .exam-button {
    padding: 0.75rem 1.875rem;
    font-size: 1.125rem;
  }
}

@media (max-width: 40em) {
  .popular-exams-section .popular-exams .exam-buttons .exam-button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
}

.popular-exams-section .popular-exams .exam-buttons .exam-button:hover {
  background-color: var(--theme-green);
  color: var(--text-white);
}

.popular-exams-section .popular-exams .cards-container {
  margin-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 52em) {
  .popular-exams-section .popular-exams .cards-container {
    margin-top: 3rem;
  }
}

@media (max-width: 40em) {
  .popular-exams-section .popular-exams .cards-container {
    margin: 2rem 0;
  }
}

.popular-exams-section .popular-exams .cards-container .cards {
  width: 31.25rem;
  height: 18.75rem;
  background-color: #c4c4c4;
  margin: 1.25rem 0.5625rem;
}

.take-quiz-section {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem;
  position: relative;
}

.take-quiz-section .take-quiz-bg {
  width: 95%;
  height: 37.5rem;
  background-color: var(--theme-green);
  margin: auto;
  position: relative;
}

@media (max-width: 64em) {
  .take-quiz-section .take-quiz-bg {
    height: 31.25rem;
  }
}

@media (max-width: 52em) {
  .take-quiz-section .take-quiz-bg {
    height: 21.875rem;
  }
}

@media (max-width: 40em) {
  .take-quiz-section .take-quiz-bg {
    height: 15.625rem;
  }
}

.take-quiz-section .take-quiz-bg .take-quiz-white-bg {
  width: 75%;
  height: 25rem;
  background-color: var(--text-white);
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 64em) {
  .take-quiz-section .take-quiz-bg .take-quiz-white-bg {
    height: 18.75rem;
  }
}

@media (max-width: 52em) {
  .take-quiz-section .take-quiz-bg .take-quiz-white-bg {
    height: 13.75rem;
  }
}

@media (max-width: 40em) {
  .take-quiz-section .take-quiz-bg .take-quiz-white-bg {
    height: 9.375rem;
    width: 80%;
  }
}

.take-quiz-section .take-quiz {
  position: absolute;
  top: 0;
  width: 100%;
}

.take-quiz-section .take-quiz .take-quiz-content {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 40em) {
  .take-quiz-section .take-quiz .take-quiz-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.take-quiz-section .take-quiz .take-quiz-content .take-quiz-image {
  margin-top: 2rem;
}

.take-quiz-section .take-quiz .take-quiz-content .take-quiz-image img {
  border: 0.5rem solid var(--text-white);
  width: 31.25rem;
  height: 31.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 64em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-image img {
    width: 25rem;
    height: 25rem;
  }
}

@media (max-width: 52em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-image img {
    width: 17.5rem;
    height: 17.5rem;
  }
}

@media (max-width: 40em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-image img {
    display: none;
  }
}

.take-quiz-section .take-quiz .take-quiz-content .take-quiz-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 5rem;
}

@media (max-width: 64em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text {
    padding-left: 3.125rem;
  }
}

@media (max-width: 52em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text {
    padding-left: 1.25rem;
  }
}

@media (max-width: 40em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text {
    text-align: center;
    padding-left: 1rem;
  }
}

.take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-head h2 {
  margin-top: 1.25rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-black);
}

.take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-head h2 span {
  font-weight: 800;
  -webkit-text-stroke: 0.125rem var(--theme-green);
  color: var(--text-white);
}

@media (max-width: 64em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-head h2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 52em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-head h2 {
    font-size: 1.375rem;
  }
}

.take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-head h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.625rem;
  color: var(--text-black);
}

@media (max-width: 64em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-head h3 {
    font-size: 1.375rem;
  }
}

@media (max-width: 52em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-head h3 {
    font-size: 1.125rem;
  }
}

.take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-head .take-quiz-btn {
  display: inline-block;
  color: var(--theme-green);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 3rem;
  border: 0.125rem solid var(--theme-green);
  border-radius: 0.5rem;
  margin-top: 3rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 64em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-head .take-quiz-btn {
    padding: 0.75rem 2rem;
    margin-top: 2rem;
  }
}

@media (max-width: 52em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-head .take-quiz-btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 40em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-head .take-quiz-btn {
    margin-top: 0.75rem;
  }
}

.take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-head .take-quiz-btn:hover {
  background-color: var(--theme-green);
  color: var(--text-white);
}

.take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.75rem;
}

@media (max-width: 40em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-foot {
    margin-top: 1.875rem;
  }
}

.take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-foot .quiz-overview p {
  color: var(--text-white);
}

.take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-foot .quiz-overview .quiz-overview-count {
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 64em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-foot .quiz-overview .quiz-overview-count {
    font-size: 1.75rem;
  }
}

@media (max-width: 52em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-foot .quiz-overview .quiz-overview-count {
    font-size: 1.375rem;
  }
}

.take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-foot .quiz-overview .quiz-overview-label {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.75rem;
}

@media (max-width: 64em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-foot .quiz-overview .quiz-overview-label {
    font-size: 1.125rem;
  }
}

@media (max-width: 52em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-foot .quiz-overview .quiz-overview-label {
    font-size: 1rem;
  }
}

@media (max-width: 40em) {
  .take-quiz-section .take-quiz .take-quiz-content .take-quiz-text .quiz-foot .quiz-overview .quiz-overview-label {
    margin-top: 0.5rem;
  }
}

.exam-section {
  width: 100%;
  margin-top: 2rem;
}

.exam-section .exams-container .exams {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.5rem 0;
  padding: 0rem 1.25rem;
  overflow-x: scroll;
  padding-bottom: 1.25rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.exam-section .exams-container .exams::-webkit-scrollbar {
  display: none;
}

@media (max-width: 64em) {
  .exam-section .exams-container .exams {
    padding: 0rem 2rem;
  }
}

@media (max-width: 40em) {
  .exam-section .exams-container .exams {
    padding: 0rem 1rem;
  }
}

.exam-section .exams-container .exams .exam {
  min-width: 7.5rem;
  min-height: 7.5rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 20px rgba(11, 159, 133, 0.15);
          box-shadow: 0px 4px 20px rgba(11, 159, 133, 0.15);
  margin: 0 2.5rem;
}

@media (max-width: 64em) {
  .exam-section .exams-container .exams .exam {
    margin: 0 1rem;
  }
}

.exam-section .exams-container .exams .exam img {
  width: 3.125rem;
}

.exam-section .exams-container .exams .exam p {
  font-size: 1rem;
  font-weight: 700;
}

.success-section {
  width: 100%;
  height: 30rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}

.success-section .satisfied-bg .satisfied-heading {
  font-size: 2rem;
}

@media (max-width: 64em) {
  .success-section .satisfied-bg .satisfied-heading {
    font-size: 1.75rem;
  }
}

@media (max-width: 40em) {
  .success-section .satisfied-bg .satisfied-heading {
    font-size: 1.5rem;
    margin-top: 0.75rem;
  }
}

.success-section .success-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.success-section .success-container .success-content {
  width: 100%;
  max-width: 62.5rem;
  margin: auto;
}

.success-section .success-container .success-content .success-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 64em) {
  .success-section .success-container .success-content .success-header {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
  }
}

@media (max-width: 40em) {
  .success-section .success-container .success-content .success-header {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }
}

.success-section .success-container .success-content .success-header h3 {
  font-size: 1.5rem;
  color: var(--text-white);
  opacity: 0;
}

.success-section .success-container .success-content .success-header .header-buttons {
  width: 100px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.success-section .success-container .success-content .success-header .header-buttons .btn {
  width: 2rem;
  color: var(--text-white);
  font-size: 2rem;
  margin: 0 0.75rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.success-section .success-container .success-content .success-header .header-buttons .inactive {
  opacity: 0.4;
}

.success-section .success-container .success-content .success-stories {
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.success-section .success-container .success-content .success-stories::-webkit-scrollbar {
  display: none;
}

@media (max-width: 64em) {
  .success-section .success-container .success-content .success-stories {
    margin-top: 2rem;
  }
}

.success-section .success-container .success-content .success-stories .success-story {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem;
}

@media (max-width: 64em) {
  .success-section .success-container .success-content .success-stories .success-story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.success-section .success-container .success-content .success-stories .success-story .story {
  padding-right: 3rem;
  max-width: 34.375rem;
  max-height: 10rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 52em) {
  .success-section .success-container .success-content .success-stories .success-story .story {
    font-size: 1.125rem;
  }
}

@media (max-width: 40em) {
  .success-section .success-container .success-content .success-stories .success-story .story {
    font-size: 1rem;
  }
}

.success-section .success-container .success-content .success-stories .success-story .success-detail {
  max-width: 22.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.5rem;
}

@media (max-width: 64em) {
  .success-section .success-container .success-content .success-stories .success-story .success-detail {
    margin-left: 0rem;
    margin-top: 1.75rem;
  }
}

@media (max-width: 40em) {
  .success-section .success-container .success-content .success-stories .success-story .success-detail {
    font-size: 1rem;
    margin-top: 1.25rem;
  }
}

.success-section .success-container .success-content .success-stories .success-story .success-detail .detail-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.success-section .success-container .success-content .success-stories .success-story .success-detail .detail-text p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.25rem;
  color: var(--text-white);
}

@media (max-width: 52em) {
  .success-section .success-container .success-content .success-stories .success-story .success-detail .detail-text p {
    font-size: 1.125rem;
  }
}

@media (max-width: 40em) {
  .success-section .success-container .success-content .success-stories .success-story .success-detail .detail-text p {
    font-size: 1rem;
  }
}

.success-section .success-container .success-content .success-stories .success-story .success-detail img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-left: 2rem;
}

@media (max-width: 52em) {
  .success-section .success-container .success-content .success-stories .success-story .success-detail img {
    width: 4.375rem;
    height: 4.375rem;
  }
}

@media (max-width: 40em) {
  .success-section .success-container .success-content .success-stories .success-story .success-detail img {
    width: 3.75rem;
    height: 3.75rem;
    margin-left: 1rem;
  }
}

.news-update-section {
  width: 100%;
  margin-bottom: 5rem;
}

.news-update-section .news-container {
  padding: 0rem 1rem;
  width: 100%;
}

.news-update-section .news-container .news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: scroll;
  margin-top: 2.5rem;
  padding-bottom: 1.25rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.news-update-section .news-container .news-cards::-webkit-scrollbar {
  display: none;
}

@media (max-width: 64em) {
  .news-update-section .news-container .news-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.news-update-section .news-container .news-cards .card {
  margin: auto 0.75rem;
  width: 18.75rem;
}

@media (max-width: 64em) {
  .news-update-section .news-container .news-cards .card {
    width: 15rem;
  }
}

@media (max-width: 52em) {
  .news-update-section .news-container .news-cards .card {
    width: 11.25rem;
  }
}

@media (max-width: 40em) {
  .news-update-section .news-container .news-cards .card {
    width: 16.5rem;
    margin: 0 5rem;
  }
}

.news-update-section .news-container .news-cards .card img {
  width: 18.75rem;
  height: 15.625rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 64em) {
  .news-update-section .news-container .news-cards .card img {
    width: 15rem;
    height: 12.5rem;
  }
}

@media (max-width: 52em) {
  .news-update-section .news-container .news-cards .card img {
    width: 11.25rem;
    height: 9.375rem;
  }
}

@media (max-width: 40em) {
  .news-update-section .news-container .news-cards .card img {
    width: 16.5rem;
    height: 13.75rem;
  }
}

.news-update-section .news-container .news-cards .card .card-text {
  width: 18.75rem;
}

@media (max-width: 64em) {
  .news-update-section .news-container .news-cards .card .card-text {
    width: 15rem;
  }
}

@media (max-width: 52em) {
  .news-update-section .news-container .news-cards .card .card-text {
    width: 11.25rem;
  }
}

@media (max-width: 40em) {
  .news-update-section .news-container .news-cards .card .card-text {
    width: 16.5rem;
  }
}

.news-update-section .news-container .news-cards .card .card-text h3 {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: 700;
}

@media (max-width: 64em) {
  .news-update-section .news-container .news-cards .card .card-text h3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 52em) {
  .news-update-section .news-container .news-cards .card .card-text h3 {
    font-size: 1rem;
  }
}

@media (max-width: 40em) {
  .news-update-section .news-container .news-cards .card .card-text h3 {
    font-size: 1.125rem;
  }
}

.news-update-section .news-container .news-cards .card .card-text p {
  font-size: 1rem;
  font-weight: 400;
  padding-right: 1.5rem;
  height: 6.25rem;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 64em) {
  .news-update-section .news-container .news-cards .card .card-text p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (max-width: 52em) {
  .news-update-section .news-container .news-cards .card .card-text p {
    font-size: 0.75rem;
    line-height: 1rem;
    height: 7.25rem;
    padding-right: 1.125rem;
  }
}

@media (max-width: 40em) {
  .news-update-section .news-container .news-cards .card .card-text p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    height: 6.25rem;
    padding-right: 1.25rem;
  }
}

.news-update-section .news-container .news-cards .card .card-text .read-more {
  padding: 0.5rem 0;
  color: var(--theme-green);
  cursor: pointer;
}

.number-section {
  background-color: var(--theme-green);
  min-height: 21.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.number-section .number-enclosure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: auto;
}

@media (max-width: 64em) {
  .number-section .number-enclosure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.number-section .number-enclosure .left {
  display: inline-block;
}

@media (max-width: 64em) {
  .number-section .number-enclosure .left {
    text-align: center;
  }
}

.number-section .number-enclosure .left h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--text-white);
  margin-top: 1rem;
}

.number-section .number-enclosure .left .start-learning-btn {
  display: inline-block;
  color: var(--theme-green);
  background-color: var(--text-white);
  font-weight: 600;
  font-size: 1.125rem;
  border-radius: 0.5rem;
  padding: 0.625rem 1.75rem;
  margin-top: 2.25rem;
  border: 0.125rem solid var(--text-white);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 64em) {
  .number-section .number-enclosure .left .start-learning-btn {
    margin: 1.25rem;
  }
}

.number-section .number-enclosure .left .start-learning-btn:hover {
  color: var(--text-white);
  background-color: var(--theme-green);
}

.number-section .number-enclosure .right {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 64em) {
  .number-section .number-enclosure .right {
    width: 100%;
  }
}

@media (max-width: 40em) {
  .number-section .number-enclosure .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.number-section .number-enclosure .right .right-text {
  padding: 0.25rem 0.75rem;
  color: var(--text-white);
  text-align: center;
}

@media (max-width: 40em) {
  .number-section .number-enclosure .right .right-text {
    margin-bottom: 1.5rem;
  }
}

.number-section .number-enclosure .right .right-text p {
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

@media (max-width: 64em) {
  .number-section .number-enclosure .right .right-text p {
    font-size: 1.125rem;
  }
}

@media (max-width: 40em) {
  .number-section .number-enclosure .right .right-text p {
    font-size: 1.375rem;
  }
}

.number-section .number-enclosure .right .right-text h3 {
  font-size: 3.375rem;
  font-weight: 600;
}

@media (max-width: 64em) {
  .number-section .number-enclosure .right .right-text h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 40em) {
  .number-section .number-enclosure .right .right-text h3 {
    font-size: 3.375rem;
  }
}

.number-section .number-enclosure .right .right-text h3 span {
  font-weight: 400;
}

.service-provided-section {
  height: 40.625rem;
  width: 100%;
  position: relative;
}

.service-provided-section .service-provided {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-provided-section .service-provided .heading-image h2 {
  text-align: center;
  color: var(--text-black);
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 52em) {
  .service-provided-section .service-provided .heading-image h2 {
    font-size: 1.25rem;
  }
}

.service-provided-section .service-provided .heading-image img {
  height: 25rem;
  width: 34.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 64em) {
  .service-provided-section .service-provided .heading-image img {
    height: 18.75rem;
    width: 28.125rem;
  }
}

@media (max-width: 52em) {
  .service-provided-section .service-provided .heading-image img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 40em) {
  .service-provided-section .service-provided .heading-image img {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

.service-provided-section > img {
  position: absolute;
  z-index: -10;
}

@media (max-width: 64em) {
  .service-provided-section > img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 52em) {
  .service-provided-section > img {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 40em) {
  .service-provided-section > img {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

.service-provided-section #services-video-lectures {
  top: 6.25rem;
  left: 7.5rem;
}

@media (max-width: 64em) {
  .service-provided-section #services-video-lectures {
    left: 7.5rem;
  }
}

@media (max-width: 52em) {
  .service-provided-section #services-video-lectures {
    top: 5rem;
    left: 1.875rem;
  }
}

@media (max-width: 40em) {
  .service-provided-section #services-video-lectures {
    top: 7.5rem;
    left: -3.687rem;
  }
}

.service-provided-section #services-latest-updates {
  top: 6.25rem;
  right: 7.5rem;
}

@media (max-width: 64em) {
  .service-provided-section #services-latest-updates {
    right: 3.75rem;
  }
}

@media (max-width: 52em) {
  .service-provided-section #services-latest-updates {
    top: 5rem;
    right: 1.875rem;
  }
}

@media (max-width: 40em) {
  .service-provided-section #services-latest-updates {
    top: 7.5rem;
    right: -3.687rem;
  }
}

.service-provided-section #services-magazines {
  bottom: 6.25rem;
  left: 6.25rem;
}

@media (max-width: 64em) {
  .service-provided-section #services-magazines {
    left: 3.75rem;
  }
}

@media (max-width: 52em) {
  .service-provided-section #services-magazines {
    bottom: 5rem;
    left: 1.875rem;
  }
}

@media (max-width: 40em) {
  .service-provided-section #services-magazines {
    bottom: 6.5rem;
    left: -6.687rem;
  }
}

.service-provided-section #services-test-series {
  bottom: 6.25rem;
  right: 7.5rem;
}

@media (max-width: 64em) {
  .service-provided-section #services-test-series {
    right: 3.75rem;
  }
}

@media (max-width: 52em) {
  .service-provided-section #services-test-series {
    bottom: 5rem;
    right: 1.875rem;
  }
}

@media (max-width: 40em) {
  .service-provided-section #services-test-series {
    bottom: 5.5rem;
    right: -5.687rem;
  }
}

.satisfied-section {
  width: 100%;
  height: 40.625rem;
  position: relative;
  overflow: hidden;
}

.satisfied-section .satisfied-card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 64em) {
  .satisfied-section .satisfied-card-container {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 52em) {
  .satisfied-section .satisfied-card-container {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 40em) {
  .satisfied-section .satisfied-card-container {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.satisfied-section .satisfied-card-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

.satisfied-section .satisfied-card-container .wrapper .satisfied-cards {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 21.875rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.satisfied-section .satisfied-card-container .wrapper .satisfied-cards::-webkit-scrollbar {
  display: none;
}

@media (max-width: 40em) {
  .satisfied-section .satisfied-card-container .wrapper .satisfied-cards {
    width: 20rem;
  }
}

.satisfied-section .satisfied-card-container .wrapper .satisfied-cards .satisfied-card {
  width: 16.875rem !important;
  height: 20.3125rem !important;
  background-color: var(--text-white);
  border-radius: 0.75rem;
  margin: 0 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 64em) {
  .satisfied-section .satisfied-card-container .wrapper .satisfied-cards .satisfied-card {
    margin: auto 0.375rem;
  }
}

@media (max-width: 52em) {
  .satisfied-section .satisfied-card-container .wrapper .satisfied-cards .satisfied-card {
    margin: auto 0.5rem;
  }
}

@media (max-width: 40em) {
  .satisfied-section .satisfied-card-container .wrapper .satisfied-cards .satisfied-card {
    margin: auto 2rem;
  }
}

.satisfied-section .satisfied-card-container .wrapper .satisfied-cards .satisfied-card .star-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.satisfied-section .satisfied-card-container .wrapper .satisfied-cards .satisfied-card .star-holder .fa-star {
  color: #faebb1;
}

.satisfied-section .satisfied-card-container .wrapper .satisfied-cards .satisfied-card .star-holder .checked {
  color: #ffcc03;
}

.satisfied-section .satisfied-card-container .wrapper .satisfied-cards .satisfied-card .satisfied-words {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: var(--text-black);
  margin: 0 1.5rem;
  word-wrap: break-word;
  width: 12.5rem !important;
  height: 12.5rem !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.satisfied-section .satisfied-card-container .wrapper .satisfied-cards .satisfied-card .satisfied-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
}

.satisfied-section .satisfied-card-container .wrapper .satisfied-cards .satisfied-card .satisfied-logo img {
  height: 3.4375rem;
  width: 3.4375rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.satisfied-section .satisfied-card-container .wrapper .satisfied-cards .satisfied-card .satisfied-logo .satisfied-logo-text p {
  color: var(--theme-green);
  margin-left: 0.9375rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.satisfied-section .satisfied-card-container .wrapper .card-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5rem;
}

.satisfied-section .satisfied-card-container .wrapper .card-indicator .dot {
  display: inline-block;
  height: 0.25rem;
  width: 0.375rem;
  border-radius: 0.125rem;
  background-color: var(--text-white);
  margin: 0rem 0.625rem;
}

.satisfied-section .satisfied-card-container .wrapper .card-indicator .active {
  width: 1rem;
}

.satisfied-bg {
  background-color: var(--theme-green);
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.satisfied-bg .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.75rem;
  height: 0.5rem;
  background-color: var(--text-white);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform: translate(-20%, -10%) rotate(135deg);
          transform: translate(-20%, -10%) rotate(135deg);
}

@media (max-width: 52em) {
  .satisfied-bg .line {
    -webkit-transform: scale(0.8) translate(-29%, -10%) rotate(135deg);
            transform: scale(0.8) translate(-29%, -10%) rotate(135deg);
  }
}

@media (max-width: 40em) {
  .satisfied-bg .line {
    -webkit-transform: scale(0.6) translate(-49%, -10%) rotate(135deg);
            transform: scale(0.6) translate(-49%, -10%) rotate(135deg);
  }
}

.satisfied-bg .circle {
  position: absolute;
  top: 0;
  right: 0;
  border: 0.5rem solid var(--text-white);
  border-radius: 50%;
  width: 14.0625rem;
  height: 14.0625rem;
  -webkit-transform: translate(40%, -40%);
          transform: translate(40%, -40%);
}

@media (max-width: 52em) {
  .satisfied-bg .circle {
    -webkit-transform: translate(40%, -40%) scale(0.8);
            transform: translate(40%, -40%) scale(0.8);
  }
}

@media (max-width: 40em) {
  .satisfied-bg .circle {
    -webkit-transform: translate(50%, -40%) scale(0.6);
            transform: translate(50%, -40%) scale(0.6);
  }
}

.satisfied-bg .circle-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0.5rem solid var(--text-white);
  border-radius: 50%;
  width: 14.0625rem;
  height: 14.0625rem;
  -webkit-transform: translate(-40%, 40%);
          transform: translate(-40%, 40%);
}

@media (max-width: 52em) {
  .satisfied-bg .circle-bottom {
    -webkit-transform: translate(-40%, 40%) scale(0.8);
            transform: translate(-40%, 40%) scale(0.8);
  }
}

@media (max-width: 40em) {
  .satisfied-bg .circle-bottom {
    -webkit-transform: translate(-50%, 40%) scale(0.6);
            transform: translate(-50%, 40%) scale(0.6);
  }
}

.satisfied-bg .line-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18.75rem;
  height: 0.5rem;
  background-color: var(--text-white);
  -webkit-transform: translate(20%, 0%) rotate(135deg);
          transform: translate(20%, 0%) rotate(135deg);
}

@media (max-width: 52em) {
  .satisfied-bg .line-right {
    -webkit-transform: translate(23%, 0%) rotate(135deg) scale(0.8);
            transform: translate(23%, 0%) rotate(135deg) scale(0.8);
  }
}

@media (max-width: 40em) {
  .satisfied-bg .line-right {
    -webkit-transform: translate(30%, 0%) rotate(135deg) scale(0.6);
            transform: translate(30%, 0%) rotate(135deg) scale(0.6);
  }
}

.satisfied-bg img {
  position: absolute;
  top: 1.875rem;
  left: 5rem;
  height: 7.5rem;
}

@media (max-width: 52em) {
  .satisfied-bg img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 40em) {
  .satisfied-bg img {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.satisfied-bg .satisfied-heading {
  position: absolute;
  top: 6.25rem;
  left: 3.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-white);
}

@media (max-width: 52em) {
  .satisfied-bg .satisfied-heading {
    font-size: 1.375rem;
  }
}

@media (max-width: 40em) {
  .satisfied-bg .satisfied-heading {
    font-size: 1.25rem;
  }
}

footer {
  background-color: var(--footer-bg);
}

footer .footer-section {
  color: var(--text-white);
}

footer .footer-section .footer-wrapper {
  min-height: 26.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 95%;
  margin: auto;
}

footer .footer-section .footer-wrapper .footer {
  min-height: 18.75rem;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}

@media (max-width: 52em) {
  footer .footer-section .footer-wrapper .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer-section .footer-wrapper .footer .foot {
  max-width: 15.625rem;
}

@media (max-width: 64em) {
  footer .footer-section .footer-wrapper .footer .foot {
    margin: 0 0.5rem;
  }
}

@media (max-width: 52em) {
  footer .footer-section .footer-wrapper .footer .foot:nth-child(1) {
    margin-top: 2rem;
  }
}

footer .footer-section .footer-wrapper .footer .foot h3 {
  margin-bottom: 1.875rem;
  font-size: 1.125rem;
  font-weight: 700;
}

@media (max-width: 52em) {
  footer .footer-section .footer-wrapper .footer .foot h3 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1.25rem;
  }
}

footer .footer-section .footer-wrapper .footer .foot .foot-text {
  margin-bottom: 1.25rem;
  font-size: 0.75rem;
  font-weight: 400;
}

@media (max-width: 52em) {
  footer .footer-section .footer-wrapper .footer .foot .foot-text {
    text-align: center;
  }
}

footer .footer-section .footer-wrapper .footer .foot a {
  display: block;
  cursor: pointer;
}

footer .footer-section .footer-wrapper .footer .foot .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-section .footer-wrapper .footer .foot .social-media a {
  margin: 0.25rem;
}

footer .footer-section .footer-wrapper .footer .foot .social-media a img {
  width: 1.5rem;
}

footer .footer-section .footer-wrapper .footer .foot-side {
  max-width: 36.25rem;
}

@media (max-width: 64em) {
  footer .footer-section .footer-wrapper .footer .foot-side {
    max-width: none;
  }
}

@media (max-width: 52em) {
  footer .footer-section .footer-wrapper .footer .foot-side {
    max-width: none;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }
}

footer .footer-section .footer-wrapper .footer .foot-side #news-letter-checkbox {
  height: 1.25rem;
  width: 1.25rem;
  display: inline-block;
}

@media (max-width: 40em) {
  footer .footer-section .footer-wrapper .footer .foot-side #news-letter-checkbox {
    height: 1rem;
    width: 1rem;
  }
}

footer .footer-section .footer-wrapper .footer .foot-side label {
  font-size: 1.125rem;
  font-weight: 700;
}

@media (max-width: 52em) {
  footer .footer-section .footer-wrapper .footer .foot-side label {
    text-align: center;
    font-size: 1rem;
  }
}

footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper {
  margin-top: 1.25rem;
}

@media (max-width: 52em) {
  footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper {
    margin-top: 1.25rem;
  }
}

footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

@media (max-width: 52em) {
  footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper h4 {
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
  }
}

footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper .email-input .input-email-id {
  padding: 1rem 1.25rem;
  width: 17.1875rem;
  font-size: 1.125rem;
  font-weight: 400;
  border-radius: 0.6875rem;
  outline: none;
  border: none;
}

@media (max-width: 64em) {
  footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper .email-input .input-email-id {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 52em) {
  footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper .email-input .input-email-id {
    padding: 0.625rem 0.875rem;
    width: 15.625rem;
    border-radius: 0.4375rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 40em) {
  footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper .email-input .input-email-id {
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    width: 18.75rem;
    font-size: 0.875rem;
  }
}

footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper .email-input .yes-please-button {
  padding: 1rem 1.25rem;
  margin-left: 0.375rem;
  border: none;
  outline: none;
  background-color: var(--theme-green);
  color: var(--text-white);
  border-radius: 0.5625rem;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 64em) {
  footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper .email-input .yes-please-button {
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    margin-top: 0.75rem;
    font-weight: 600;
    margin-left: 0rem;
  }
}

@media (max-width: 52em) {
  footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper .email-input .yes-please-button {
    padding: 0.625rem 0.875rem;
    border-radius: 0.3125rem;
    font-size: 0.9375rem;
    margin-top: 0.75rem;
    font-weight: 600;
    margin-left: 0rem;
  }
}

@media (max-width: 40em) {
  footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper .email-input .yes-please-button {
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    margin-top: 0.75rem;
    font-weight: 500;
  }
}

footer .footer-section .footer-wrapper .footer .foot-side .email-wrapper .email-input .yes-please-button:hover {
  opacity: 0.9;
}

footer .footer-section .footer-wrapper .footer .foot-side .footer-logo {
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 64em) {
  footer .footer-section .footer-wrapper .footer .foot-side .footer-logo {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 52em) {
  footer .footer-section .footer-wrapper .footer .foot-side .footer-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

footer .footer-section .footer-wrapper .footer .foot-side .footer-logo img {
  height: 7.8125rem;
  margin-right: 0.5rem;
}

footer .copy-right-container {
  width: 100%;
  background-color: var(--copyright-bg);
}

footer .copy-right-container .copy-right {
  width: 100%;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--text-white);
}
/*# sourceMappingURL=index.css.map */