footer {
  background-color: var(--footer-bg);
  .footer-section {
    color: var(--text-white);
    .footer-wrapper {
      min-height: rem(430);
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 95%;
      margin: auto;
      .footer {
        min-height: rem(300);
        width: 95%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        @include breakpoint(tablet) {
          flex-direction: column;
          align-items: center;
        }
        .foot {
          max-width: rem(250);
          @include breakpoint(medium) {
            margin: 0 rem(8);
          }
          @include breakpoint(tablet) {
            &:nth-child(1) {
              margin-top: rem(32);
            }
          }
          h3 {
            margin-bottom: rem(30);
            font-size: rem(18);
            font-weight: 700;
            @include breakpoint(tablet) {
              text-align: center;
              margin-bottom: rem(16);
              margin-top: rem(20);
            }
          }
          .foot-text {
            margin-bottom: rem(20);
            font-size: rem(12);
            font-weight: 400;
            @include breakpoint(tablet) {
              text-align: center;
            }
          }
          a {
            display: block;
            cursor: pointer;
          }
          .social-media {
            display: flex;
            a {
              margin: rem(4);
              img {
                width: rem(24);
              }
            }
          }
        }
        .foot-side {
          max-width: rem(580);
          @include breakpoint(medium) {
            max-width: none;
          }
          @include breakpoint(tablet) {
            max-width: none;
            text-align: center;
            width: 100%;
            margin-top: rem(16);
          }
          #news-letter-checkbox {
            height: rem(20);
            width: rem(20);
            display: inline-block;
            @include breakpoint(small) {
              height: rem(16);
              width: rem(16);
            }
          }
          label {
            font-size: rem(18);
            font-weight: 700;
            @include breakpoint(tablet) {
              text-align: center;
              font-size: rem(16);
            }
          }
          .email-wrapper {
            margin-top: rem(20);
            @include breakpoint(tablet) {
              margin-top: rem(20);
            }
            h4 {
              font-size: rem(20);
              font-weight: 500;
              margin-bottom: rem(20);
              @include breakpoint(tablet) {
                font-size: rem(14);
                margin-bottom: rem(12);
              }
            }
            .email-input {
              .input-email-id {
                padding: rem(16) rem(20);
                width: rem(275);
                font-size: rem(18);
                font-weight: 400;
                border-radius: rem(11);
                outline: none;
                border: none;
                @include breakpoint(medium) {
                  padding: rem(12) rem(16);
                  border-radius: rem(8);
                  font-size: rem(14);
                }
                @include breakpoint(tablet) {
                  padding: rem(10) rem(14);
                  width: rem(250);
                  border-radius: rem(7);
                  font-size: rem(14);
                }
                @include breakpoint(small) {
                  padding: rem(8) rem(12);
                  border-radius: rem(6);
                  width: rem(300);
                  font-size: rem(14);
                }
              }
              .yes-please-button {
                padding: rem(16) rem(20);
                margin-left: rem(6);
                border: none;
                outline: none;
                background-color: var(--theme-green);
                color: var(--text-white);
                border-radius: rem(9);
                font-size: rem(20);
                font-weight: 700;
                cursor: pointer;
                transition: opacity 0.3s ease-in-out;
                @include breakpoint(medium) {
                  padding: rem(12) rem(16);
                  border-radius: rem(6);
                  font-size: rem(16);
                  margin-top: rem(12);
                  font-weight: 600;
                  margin-left: rem(0);
                }
                @include breakpoint(tablet) {
                  padding: rem(10) rem(14);
                  border-radius: rem(5);
                  font-size: rem(15);
                  margin-top: rem(12);
                  font-weight: 600;
                  margin-left: rem(0);
                }
                @include breakpoint(small) {
                  padding: rem(8) rem(12);
                  border-radius: rem(4);
                  font-size: rem(14);
                  margin-top: rem(12);
                  font-weight: 500;
                }
                &:hover {
                  opacity: 0.9;
                }
              }
            }
          }
          .footer-logo {
            margin-top: rem(12);
            display: flex;
            @include breakpoint(medium) {
              transform: scale(0.8);
            }
            @include breakpoint(tablet) {
              justify-content: center;
              margin-bottom: rem(16);
              transform: scale(1);
            }
            img {
              height: rem(125);
              margin-right: rem(8);
            }
          }
        }
      }
    }
  }
  .copy-right-container {
    width: 100%;
    background-color: var(--copyright-bg);
    .copy-right {
      width: 100%;
      height: rem(60);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(14);
      font-weight: 400;
      color: var(--text-white);
    }
  }
}
