footer {
  background-color: var(--footer-bg);
  .footer-section {
    color: var(--text-white);
    .footer-wrapper {
      min-height: rem(430);
      display: flex;
      justify-content: center;
      align-items: center;
      .footer {
        min-height: rem(300);
        width: 95%;
        display: flex;
        justify-content: space-around;
        .foot {
          max-width: rem(250);
          h3 {
            margin-bottom: rem(30);
            font-size: rem(18);
            font-weight: 700;
          }
          .foot-text {
            margin-bottom: rem(20);
            font-size: rem(12);
            font-weight: 400;
          }
          a {
            display: block;
            cursor: pointer;
          }
          .social-media {
            display: flex;
            a {
              margin: rem(4);
              img {
                width: rem(24);
              }
            }
          }
        }
        .foot-side {
          max-width: rem(580);
          #news-letter-checkbox {
            height: rem(20);
            width: rem(20);
            display: inline-block;
          }
          label {
            font-size: rem(18);
            font-weight: 700;
          }
          .email-wrapper {
            margin-top: rem(20);
            h4 {
              font-size: rem(20);
              font-weight: 500;
              margin-bottom: rem(20);
            }
            .email-input {
              .input-email-id {
                padding: rem(18) rem(24);
                width: rem(350);
                font-size: rem(18);
                font-weight: 400;
                border-radius: rem(12);
                outline: none;
                border: none;
              }
              .yes-please-button {
                padding: rem(18) rem(28);
                margin-left: rem(12);
                border: none;
                outline: none;
                background-color: var(--theme-green);
                color: var(--text-white);
                border-radius: rem(9);
                font-size: rem(20);
                font-weight: 700;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover {
                  opacity: 0.9;
                }
              }
            }
          }
          .footer-logo {
            max-width: rem(350);
            margin-top: rem(12);
            img {
              height: rem(125);
              margin-right: rem(8);
            }
          }
        }
      }
    }
  }
  .copy-right-container {
    width: 100%;
    background-color: var(--copyright-bg);
    .copy-right {
      width: 100%;
      height: rem(60);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(14);
      font-weight: 400;
      color: var(--text-white);
    }
  }
}
