body {
  font-size: 100%;
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--text-light);
}
.container {
  max-width: rem(1100);
  margin: auto;
}
.slider-header {
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: rem(24);
    font-weight: 600;
    color: var(--text-black);
  }
  .header-buttons {
    width: 100px;
    height: inherit;
    display: flex;
  }
  .btn {
    width: rem(32);
    height: rem(32);
    border-radius: rem(6);
    background-color: var(--btn-bg);
    margin: 0 rem(8);
  }
}
section {
  max-width: rem(1800);
  margin: auto;
}
