@import "utility";
.navbar {
  width: 100%;
  height: rem(80);
  background-color: var(--navbar-bg);
  display: flex;

  &__logo {
    // height: 100%;
    a {
      height: 100%;
      display: flex;
      align-items: center;
      p {
        display: inline-block;
      }
    }
  }
  &__links {
    width: 60%;
    display: flex;
    height: 100%;
    align-items: center;
    a {
      padding: rem(10);
      text-align: center;
    }
  }
  &__login {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

a {
  color: var(--text-light);
}
