.popular-exams-section {
  width: 100%;
  padding: rem(16);
  .popular-exams {
    margin-top: rem(80);
    @include breakpoint(tablet) {
      margin-top: rem(60);
    }
    @include breakpoint(small) {
      margin-top: rem(40);
    }
    h2 {
      font-weight: 600;
      font-size: rem(24);
      @include breakpoint(tablet) {
        font-size: rem(20);
      }
    }
    .exam-buttons {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin: rem(30) 0;
      flex-wrap: wrap;
      @include breakpoint(tablet) {
        margin: rem(24) 0;
      }
      @include breakpoint(small) {
        margin: rem(20) 0;
      }
      .exam-button {
        padding: rem(16) rem(40);
        margin: rem(4) rem(4);
        border-radius: rem(8);
        border: rem(2) solid var(--theme-green);
        color: var(--theme-green);
        font-size: rem(20);
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        @include breakpoint(tablet) {
          padding: rem(12) rem(30);
          font-size: rem(18);
        }
        @include breakpoint(small) {
          padding: rem(8) rem(24);
          font-size: rem(16);
        }

        &:hover {
          background-color: var(--theme-green);
          color: var(--text-white);
        }
      }
    }
    .cards-container {
      margin-top: rem(60);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include breakpoint(tablet) {
        margin-top: rem(48);
      }
      @include breakpoint(small) {
        margin: rem(32) 0;
      }

      .cards {
        width: rem(500);
        height: rem(300);
        background-color: #c4c4c4;
        margin: rem(20) rem(9);
      }
    }
  }
}
