.popular-exams-section {
  width: 100%;
  .popular-exams {
    margin-top: rem(80);
    h2 {
      font-weight: 600;
      font-size: rem(24);
    }
    .exam-buttons {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin: rem(30) 0;
      flex-wrap: wrap;
      .exam-button {
        padding: rem(16) rem(40);
        margin: rem(4) rem(4);
        border-radius: rem(8);
        border: rem(2) solid var(--theme-green);
        color: var(--theme-green);
        font-size: rem(20);
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: var(--theme-green);
          color: var(--text-white);
        }
      }
    }
    .cards-container {
      margin-top: rem(60);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .cards {
        width: rem(450);
        height: rem(300);
        background-color: #c4c4c4;
        margin: rem(20) rem(9);
      }
    }
  }
}
