.service-provided-section {
  height: rem(650);
  width: 100%;
  position: relative;
  .service-provided {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .heading-image {
      h2 {
        text-align: center;
        color: var(--text-black);
        font-size: rem(24);
        font-weight: 600;
      }
      img {
        height: rem(400);
        width: rem(550);
        object-fit: cover;
      }
    }
  }
  > img {
    position: absolute;
  }
  #services-video-lectures {
    top: rem(100);
    left: rem(120);
  }
  #services-latest-updates {
    top: rem(100);
    right: rem(120);
  }
  #services-magazines {
    bottom: rem(100);
    left: rem(120);
  }
  #services-test-series {
    bottom: rem(100);
    right: rem(120);
  }
}
