.take-quiz-section {
  width: 100%;
  margin-top: rem(48);
  margin-bottom: rem(80);
  position: relative;
  .take-quiz-bg {
    width: 95%;
    height: rem(600);
    background-color: var(--theme-green);
    margin: auto;
    position: relative;
    @include breakpoint(medium) {
      height: rem(500);
    }
    @include breakpoint(tablet) {
      height: rem(350);
    }
    @include breakpoint(small) {
      height: rem(250);
    }
    .take-quiz-white-bg {
      width: 75%;
      height: rem(400);
      background-color: var(--text-white);
      position: absolute;
      top: 0;
      right: 0;
      @include breakpoint(medium) {
        height: rem(300);
      }
      @include breakpoint(tablet) {
        height: rem(220);
      }
      @include breakpoint(small) {
        height: rem(150);
        width: 80%;
      }
    }
  }
  .take-quiz {
    position: absolute;
    top: 0;
    width: 100%;
    .take-quiz-content {
      width: 90%;
      margin: auto;
      display: flex;
      @include breakpoint(small) {
        justify-content: center;
        align-items: center;
      }
      .take-quiz-image {
        margin-top: rem(32);
        img {
          border: rem(8) solid var(--text-white);
          width: rem(500);
          height: rem(500);
          object-fit: cover;
          @include breakpoint(medium) {
            width: rem(400);
            height: rem(400);
          }
          @include breakpoint(tablet) {
            width: rem(280);
            height: rem(280);
          }
          @include breakpoint(small) {
            display: none;
          }
        }
      }
      .take-quiz-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: rem(80);
        @include breakpoint(medium) {
          padding-left: rem(50);
        }
        @include breakpoint(tablet) {
          padding-left: rem(20);
        }
        @include breakpoint(small) {
          text-align: center;
          padding-left: rem(16);
        }
        .quiz-head {
          h2 {
            margin-top: rem(20);
            font-size: rem(32);
            font-weight: 600;
            color: var(--text-black);
            span {
              font-weight: 800;
              -webkit-text-stroke: rem(2) var(--theme-green);
              color: var(--text-white);
            }
            @include breakpoint(medium) {
              font-size: rem(28);
            }
            @include breakpoint(tablet) {
              font-size: rem(22);
            }
          }
          h3 {
            font-size: rem(24);
            font-weight: 400;
            margin-top: rem(10);
            color: var(--text-black);
            @include breakpoint(medium) {
              font-size: rem(22);
            }
            @include breakpoint(tablet) {
              font-size: rem(18);
            }
          }
          .take-quiz-btn {
            display: inline-block;
            color: var(--theme-green);
            font-size: rem(20);
            font-weight: 700;
            padding: rem(16) rem(48);
            border: rem(2) solid var(--theme-green);
            border-radius: rem(8);
            margin-top: rem(48);
            transition: all 0.3s ease-in-out;
            @include breakpoint(medium) {
              padding: rem(12) rem(32);
              margin-top: rem(32);
            }
            @include breakpoint(tablet) {
              font-size: rem(16);
              padding: rem(8) rem(24);
              margin-top: rem(24);
            }
            @include breakpoint(small) {
              margin-top: rem(12);
            }
            &:hover {
              background-color: var(--theme-green);
              color: var(--text-white);
            }
          }
        }
        .quiz-foot {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-top: rem(60);
          @include breakpoint(small) {
            margin-top: rem(30);
          }
          .quiz-overview {
            p {
              color: var(--text-white);
            }
            .quiz-overview-count {
              font-size: rem(32);
              font-weight: 700;
              @include breakpoint(medium) {
                font-size: rem(28);
              }
              @include breakpoint(tablet) {
                font-size: rem(22);
              }
            }
            .quiz-overview-label {
              font-size: rem(20);
              font-weight: 500;
              margin-top: rem(12);
              @include breakpoint(medium) {
                font-size: rem(18);
              }
              @include breakpoint(tablet) {
                font-size: rem(16);
              }
              @include breakpoint(small) {
                margin-top: rem(8);
              }
            }
          }
        }
      }
    }
  }
}
