// colors
:root {
  --navbar-bg: #00268a;
  --theme-green: #0b9f85;
  --text-black: #404040;
  --text-light: #fbfffa;
  --text-white: #ffffff;
  --footer-copyright-bg: #000a1e;
  --footer-bg: #00113d;
  --black: black;
}
